<%- include('../layouts/head')%>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../layouts/navigation')%>
    <main>
        <% if (errorMessage) { %>
            <div class="user-msg user-msg-error"><%= errorMessage %></div>
        <% } %>                                                                                                                             <!--needed to submit image files -->
        <form class="product-form" action="/admin/<% if(editing || hasError) {%>edit-product<% } else {%>add-product<% } %>" method="post" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                    class="<%= validationError.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text"
                    name="title"
                    id="title"
                    value="<% if(editing || hasError) {%><%= product.title %><% } %>"
                >
            </div>
            <div class="form-control">
                <label for="img">Image</label>
                <input
                    type="file"
                    name="img"
                    id="img"
                >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                    class="<%= validationError.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="text"
                    name="price"
                    id="price"
                    value="<% if(editing || hasError) {%><%= product.price %><% } %>"
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                    class="<%= validationError.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    type="text"
                    name="description"
                    id="description" row="5">
                    <% if(editing || hasError) {%><%= product.description %><% } %>
                </textarea>
            </div>
            <% if ( editing ) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit"><% if(editing) { %>Update product<% } else { %>Add product<% } %></button>
        </form>
    </main>
</body>
</html>