<%- include('../layouts/head')%>
</head>
<body>
    <%- include('../layouts/navigation')%>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div class="card__image">
            <img src="\<%= product.imgUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <% if (isAuthenticated) { %>
            <%- include('../layouts/add-to-cart', {product: product}) %> <!--Because "product" is a local variable of the for loop so we need to pass it to the include in this way-->
        <% } %>
    </main>
</body>
</html>